/* цвет основного текста color: #212121; */
/* вторичний цвет текста color: #FFFFFF; */
/* акцентный цвет color: #2196F3; */
/* основной цвет фона background: #FFFFFF */

body {
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
  color: #212121;
}
/* секцыя навигацыи */

.site-nav .link {
  color: #212121;
}
.site-nav .link:hover,
.link:focus {
  color: #2196f3;
}
.site-nav .link.current {
  color: #2196f3;
}
.link {
  color: #757575;
  text-decoration: none;
}
.address .link:hover,
.link:focus {
  color: #2196f3;
}
/* секцыя футер */
.footer {
  background-color: #2f303a;
}
.footer-address .link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}
.footer-address .link:hover,
.link:focus {
  color: #2196f3;
}
